In [2]:
#Cuando tengo no observaciones:

In [3]:
import pandas as pd
df = pd.DataFrame({"A":[1, 2, None, 4], "B": [None, 2, 3, 4]})
df.fillna(df.mean(), inplace = True)

In [4]:
df

          A    B
0  1.000000  3.0
1  2.000000  2.0
2  2.333333  3.0
3  4.000000  4.0

In [5]:
stats = df.describe()

In [6]:
stats

              A         B
count  4.000000  4.000000
mean   2.333333  3.000000
std    1.247219  0.816497
min    1.000000  2.000000
25%    1.750000  2.750000
50%    2.166667  3.000000
75%    2.750000  3.250000
max    4.000000  4.000000